.title {
    font-size: 32px;
    font-weight: 600;
    padding: 24px 0px 12px 0px;
}

label {
    font-weight: 600;
}

.form {
    margin: 24px 0 24px 0;
    padding: 8px;
}

.dropdown {
    /* display: flex;
    flex:1; */
    width: 30vw;
}

.header {
    display: flex;
}

.add-button {
    margin-right: auto;
}