/* .wrapper {
    position: relative;
}

.sponsor {
    margin-left: 15px;
}

.add-button {
    background-color: #03787c!important;
    color: white!important;
    width: 75px !important;
    height: 27px!important;
    position: absolute;
    display: flex!important;
    margin-left:auto!important;
    margin-right: 0px!important;
    top: -45px !important;
}

.error {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #a4262c;
} */