/* .add-button {
  background-color: #03787c !important;
  color: white !important;
  width: 75px !important;
  height: 27px !important;
  position: absolute;
  display: flex !important;
  margin-left: auto !important;
  margin-right: 0px !important;
  top: -45px !important;
} */
